// BUTTON INDEXES
//                  ^                              ^
// | 0  | 1  | 2  | 3  | 4  | 5  | ___ | 6  | 7  | 8  | 9  | 10 | 11 |
// | 12 | 13 | 14 | 15 | 16 | 17 | ___ | 18 | 19 | 20 | 21 | 22 | 23 |
// | 24 | 25 | 26 | 27 | 28 | 29 | ___ | 30 | 31 | 32 | 33 | 34 | 35 |
//                | 36 | 37 | 38 | ___ | 39 | 40 | 41 |

// ESC
COMBO_ALL(esc_one_two, &kp ESC, 2 3)
// COMBO_ALL(esc_left, &kp ESC, 25 26)
// COMBO_ALL(esc_null_one, &kp ESC, 9 10)

// BACKSPACE
COMBO_ALL(bspc_left, &kp BSPC, 0 1)

// Control + ` = Toggle VS Code Console
COMBO_ALL(vscode_tog_console, &vscode_tog_console, 26 27)
// Shift + Control + ` = New VS Code Console
COMBO_ALL(vscode_new_console, &vscode_new_console, 27 28)
// Control + ` = Toggle VS Code Console
COMBO_ALL(vscode_cmd_pallet, &vscode_cmd_pallet, 9 10)


// Print Screen
COMBO_ALL(print_screen , SPRINTSCREEN, 12 13)
// Back Tick `
COMBO_ALL(back_tick , GRAVE, 12 13)
// Tilde ~
COMBO_ALL(tilde , TILDE, 24 25)



// BLUETOOTH CLEAR
// COMBO(bt_clr, &bt BT_CLR, 24 29, 4)

// RESET
// COMBO_ALL(reset_r_e_s, &sys_reset, 3 4 14)
