ht: hold_tap {
  label = "hold_tap";
  compatible = "zmk,behavior-hold-tap";
  #binding-cells = <2>;
  flavor = "tap-preferred";
  tapping-term-ms = <220>;
  quick-tap-ms = <200>;
  bindings = <&kp>, <&kp>;
};

td_mt: tap_dance_mod_tap {
  compatible = "zmk,behavior-tap-dance";
  #binding-cells = <0>;
  tapping-term-ms = <220>;
  bindings = <&lt LOWER  &to LOWER>, <&to LOWER>;
};

// lower_td: tap_dance_mod_tap {
//   compatible = "zmk,behavior-tap-dance";
//   #binding-cells = <0>;
// //   flavor = "tap-preferred";
//   tapping-term-ms = <220>;
//   bindings =
//       <&lt LOWER  &to LOWER>      // Tap-Hold, Tap
//     , <&to LOWER>;               // Double-Tap
// };

// NOT USED
// td_alt: tab_dance_alt {
//         label = "TAP_DANCE_ALT";
//         compatible = "zmk,behavior-tap-dance";
//         #binding-cells = <0>;
//         tapping-term-ms = <200>;
//         bindings = <&kp LALT>, <&mo NUMBER>;
// };

