/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "kairos.dtsi"

&kscan0 {
    col-gpios
        // Backwards because of the upside down mounted controller
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        ;
        // Normally, the columns are the pins that are read by the microcontroller.
        // = <&pro_micro 19 GPIO_ACTIVE_HIGH>
        // , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        // , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        // , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        // , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        // , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        // ;
};
