if SHIELD_KAIROS_LEFT

config ZMK_KEYBOARD_NAME
    default "Kairos"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KAIROS_LEFT || SHIELD_KAIROS_RIGHT

config ZMK_SPLIT
    default y

endif
