# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_KAIROS_LEFT
    def_bool $(shields_list_contains,kairos_left)

config SHIELD_KAIROS_RIGHT
    def_bool $(shields_list_contains,kairos_right)
