raise_layer {
  label = "FUNCTIONS";
  display-name = "Functions";
  bindings = <
// -----------------------------------------------------------------------------------------
// |       |  F12    |   F7    |   F8   |   F9   |        | █ |       /       |    7    |    8    |    9    |     -      |     _      |
  &none      &kp F12    &kp AT    &kp LPAR &kp RPAR  &none      &kp KP_DIVIDE   &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MINUS &kp UNDER
// |       |  F11    |   F4    |   F5   |   F6   |        | █ |       *       |    4    |    5    |    6    |     +      |     =      |
  &none      &kp F11    &kp DLLR  &kp LBKT &kp RBKT  &none      &kp KP_MULTIPLY &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp PLUS     &kp KP_EQUAL
// | BASE  |  F10    |   F1    |   F2   |   F3   |        | █ |       .       |    1    |    2    |    3    |     ,      |   ENTER    |
  &to 0      &kp F10    &kp CARET &kp LBRC &kp RBRC  &none      &kp KP_DOT      &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_COMMA &kp  ENTER
//                             |    ▼   |    ▼   |    ▼   | █ |       ▼       |     ▼    |    0    |
                                 &transI  &trans    &trans         &trans       &trans   &trans
    >;
};
