if SHIELD_KAIROS44_LEFT

config ZMK_KEYBOARD_NAME
    default "Kairos44"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KAIROS44_LEFT || SHIELD_KAIROS44_RIGHT

config ZMK_SPLIT
    default y

endif